
*:has([class*="ci_form"]) {
	box-sizing: border-box;
}


.ci_text_highlight {
	color: blue;
	background: #f5f5f5;
}


.ci_form_section_inputs_row label {
	display: inline-block;
	padding: 4px 0;
}


.ci_form_section_inputs_col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}



.ci_form_section_inputs_col-75 {
	float: left;
	width: 75%;
	margin-top: 6px;
}



.ci_form_section_inputs_row {
	margin-bottom: 12px;
}

.ci_form_section.inputs.rows .ci_form_section_inputs_row {
	margin-bottom: 16px;
}

.ci_form_section_inputs_row:after {
	content: "";
	display: table;
	clear: both;
}


@media screen and (max-width: 600px) {
  .ci_form_section_inputs_col-25, .ci_form_section_inputs_col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

}




.ci_form_section_cloze_test_list_question input, .ci_form_section_multiple_choice_list input[type=text] {
	outline: none;
	border: none;
	border-bottom: 1px dotted #000;
	width: 6em;
}


.ci_form_section_inputs_row input, .ci_form_section_inputs_row select, .ci_form_section_inputs_row textarea {
	padding: 8px;
    background: white;
    border: 1px solid #ccc;
    display: block;
    border-radius: 6px;
    width: calc(100% - 16px);	
	resize: vertical;

}


.ci_form_section.inputs_responsive .ci_form_section_inputs_row input, .ci_form_section.inputs_responsive .ci_form_section_inputs_row select, .ci_form_section.inputs_responsive .ci_form_section_inputs_row textarea {
    border-radius: 2px;
	padding: 4px;
    width: auto;	

}


.ci_form_section.inputs_responsive .ci_form_section_inputs_row {
	margin-bottom: 2px;
}

.ci_form_section_inputs_row textarea {
	width: 100%;	
}


.ci_form_section_multiple_choice_list {
  position: relative;
}

.ci_form_section_multiple_choice_list input[name="radio-for-required-checkboxes"] {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    pointer-events: none;
    border: none;
    background: none;
}

.ci_form_input_submit {
	background: #36c;
    border: 1px solid #36c;
    padding: 6px 12px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.ci_form_input_submit_disabled {
    padding: 6px 12px;
    color: gray;
    font-weight: bold;
}


.ci_form_input_submit:hover {
	background-color: #447ff5;
    border-color: #447ff5;
}

.ci_form {
    background: #f5f5f5;
    border: 1px solid #ccc;
    max-width:480px;
}

.ci_form_container {
    padding: 12px 16px;
    padding-bottom: 0;
}


.ci_form_section {
   margin-bottom: 12px;
}

.ci_form_title {
	font-size: large;
    font-weight: bold;
    margin-bottom: 12px;
}

.ci_form_section:not([class*="inputs rows"]):not(:last-child) {
	border-bottom: 1px dotted #aaa;
    padding-bottom: 12px;
}

.ci_form_section_captcha {
	color: silver;
	padding: 6px;
	text-align: right;
	font-size: smaller;
}


.ci_form_section_submit {
	margin-top: 24px;
}


ol.ci_form_section_cloze_test_list li.ci_form_section_cloze_test_list_question_example::before {
	content: "";
	background-image: url('images/arrow_right.png');
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-left: -1.2em;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 0.2em;
}

ol.ci_form_section_cloze_test_list {
	list-style: none;
	counter-reset: li;
}

ol.ci_form_section_cloze_test_list li.ci_form_section_cloze_test_list_question::before {
	content: counter(li); 
	display: inline-block; 
	width: 1em; 
	margin-left: -1.5em;
	margin-right: 0.5em;
	text-align: right;
	direction: rtl;
 }
 
ol.ci_form_section_cloze_test_list li.ci_form_section_cloze_test_list_question {
 	counter-increment: li;
}
 

.ci_form_section_cloze_test_suggestions_word {
	padding: 0 3px;
	color: #cb4e3f;
}


.ci_form_section_cloze_test_suggestions_word_answered {
	padding: 0 3px;
	text-decoration: line-through;
	color: #cb4e3f;
}


.ci_form_section_cloze_test_list_question_suggestion {
	color: #0b5e69;
}

.ci_form_section_cloze_test_list_question_answered {
	border-bottom: 1px solid black;
	color: #0b5e69;
	font-weight: bold;
}


