.ci-forms-manage-pager-panel-layout {
	display: inline;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block.oo-ui-messageWidget-showClose {
	padding-right: 56px;
}

.oo-ui-messageWidget.oo-ui-messageWidget-block > .oo-ui-messageWidget-close {
	position: absolute;
	top: 8px;
	right: 8px;
}
